{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('static', filename='css-minified/course.css')}}">
{% endblock %}

{% block app_content %}
<div class="courses row">
  <div class="internal-enroll create-enroll">
  	<h1 class="enroll-title">{{ _('Enroll') }}</h1>
		<div id="generic_price_table">
			<section>
		        <div class="container" >
		            <div class="row">
		                <div class="col-md-6">
		                    <div class="generic_content active clearfix">
		                        <div class="generic_head_price clearfix">
		                            <div class="generic_head_content clearfix">
		                                <div class="head_bg"></div>
		                                <div class="head">
		                                    <span>{{ _('Monthly') }}</span>
		                                </div>
		                            </div>
		                            <div class="generic_price_tag clearfix">
		                                <span class="price">
		                                    <span class="sign">Q</span>
		                                    <span class="currency">275</span>
		                                    <span class="cent">.00</span>
		                                    <span class="month">/{{ _('MONTH') }}</span>
		                                </span>
		                            </div>
		                        </div>
		                        <div class="generic_feature_list">
		                        	<ul>
		                            	<li><span>Q 0.00</span> {{ _('in transport') }} </li>
		                                <li><span>00:00</span> {{ _('minuts in traffic') }}</li>
		                                <li><span>1</span> {{ _('Professional certified') }} </li>
		                                <li><span>4+</span> {{ _('Professional courses') }} </li>
		                                <li><span>16%</span> {{ _('Professional asks') }} </li>
		                                <li><span>16%</span> {{ _('Develop your talent') }} </li>
		                                <li><span>24/7</span> {{ _('Acces and support') }} </li>
		                            </ul>
		                        </div>
		                        <div class="generic_price_btn clearfix">
		                        	<a class="" href="{{ url_for('course.monthly_enroll') }}">{{ _('Sign up') }}</a>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-md-6">
		                    <div class="generic_content clearfix">
		                        <div class="generic_head_price clearfix">
		                            <div class="generic_head_content clearfix">
		                                <div class="head_bg"></div>
		                                <div class="head">
		                                    <span>{{ _('Yearly') }}</span>
		                                </div>
		                            </div>
		                            <div class="generic_price_tag clearfix">
		                                <span class="price">
		                                    <span class="sign">Q</span>
		                                    <span class="currency">2500</span>
		                                    <span class="cent">.00</span>
		                                    <span class="month">/{{ _('YEAR') }}</span>
		                                </span>
		                            </div>
		                        </div>
		                        <div class="generic_feature_list">
		                        	<ul>
		                            	<li><span>Q 0.00</span> {{ _('in transport') }} </li>
		                                <li><span>00:00</span> {{ _('minuts in traffic') }}</li>
		                                <li><span>2</span> {{ _('Professional Certified') }} </li>
		                                <li><span>4+</span> {{ _('Professional Courses') }} </li>
		                                <li><span>16%</span> {{ _('Save the') }} </li>
		                                <li><span>16%</span> {{ _('Face-to-Face talks') }} </li>
		                                <li><span>24/7</span> {{ _('Acces and support') }} </li>
		                            </ul>
		                        </div>
		                        <div class="generic_price_btn clearfix">
		                        	<a class="" href="{{ url_for('course.yearly_enroll') }}">{{ _('Sign up') }}</a>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
		</div>
  </div>
</div>
{% include "footer.html" %}
{% endblock %}

