{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"
  rel="stylesheet">
<link rel="stylesheet"
      href="{{url_for('static', filename='css-minified/summernote.css')}}">
<link rel="stylesheet"
      href="{{url_for('static', filename='css-minified/course.css')}}">
<link rel="stylesheet"
      href="{{url_for('static', filename='css-minified/custom-header.css')}}">
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/summernote.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wysiwyg.js')}}"></script>
{% endblock %}

{% block app_content %}
<div class="courses row same-width">
  <div class="internal-courses-lesson">
    {% for lesson in lessons %}
        <h1>{{ lesson.name }}</h1>
        <h6>{{ _('Programated date') }} : {{ lesson.date }}</h6>
        <div class="row-lesson">
            <div class="embed-responsive embed-responsive-16by9">
                {{ lesson.custom_video|safe  }}
            </div>
            <div class="summary">
                {{ lesson.custom_content|safe  }}
            </div>
            <div class="previous-next">
                {% if lesson.previous_url %}
                <a href="{{base_url}}/cursos/{{lesson.course.slug}}/{{lesson.previous_url}}/"><div class="previous">Anterior</div></a>
                {% endif %}
                {% if lesson.next_url %}
                <a href="{{base_url}}/cursos/{{lesson.course.slug}}/{{lesson.next_url}}/"><div class="next">Siguiente</div></a>
                {% endif %}
            </div>
        </div>
    <a href="{{base_url}}/cursos/{{course}}/"><p class="index">Índice de Curso: {{ lesson.course.name }} </p></a>
    {% endfor %}
  </div>
  <div class="internal-courses-lesson-right">
    <ul class="comment_holder">
        {% if comments is defined %}
            {% for comment in comments %}
            <li class="item">
                <div class="picture"><img src="{{comment.user.web_picture_profile}}"> </div>
                <div class="content">
                    <p class="signature">{{ comment.user.party.name | safe }}</p> {{ comment.content | safe }}
                </div>
            </li>
            {% endfor %}
        {% else %}
            <li class="no-item"> {{ _('No message yet..') }} </li>
        {% endif %}
    </ul>
    <div class="comment_form">
        {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>
{% endblock %}

