{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('static', filename='css-minified/blog.css')}}">
{% endblock %}

{% block app_content %}
<div class="external-blog row">
  <div class="internal-blog">
    <h1>{{ _('Blog') }}</h1>

    {% for entry in entries %}
    <div class="entry">
        <a href="{{base_url}}/blog/{{entry.slug}}/">
            <div class="image"><img class="image-blog" src="{{ entry.image|safe }}"></div>
            <div class="title"><strong> {{ entry.name }}</strong></div>
            <div class="date"> {{ entry.date }} </div>
        </a>
        {{ entry.summary | safe }}
    </div>
    <div class="line"></div>
    {% endfor %}
    {{ pagination.info }}
    {{ pagination.links }}
  </div>
</div>
{% include "footer.html" %}
{% endblock %}

