{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="courses row">
  <div class="internal-courses">

    <h1>{{ _('Blog') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {% for entry in entries %}
            <p>
                <a href="{{base_url}}/blog/{{entry.slug}}/">
                    <strong> {{ entry.name }} </strong>
                </a> 
            <br>
                {{ entry.summary }}
            </p>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock %}