/*.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}

.navbar-collapse{
    max-height: 100% !important;
}*/

.sharethis-inline-share-buttons
    margin-top 20px

.personal-nav
    background-color #337abe

.personal-brand
    padding 0 0

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.external-blog
    background-color #f5f5f5
    padding-top 0px
    background-repeat no-repeat
    background-size 100% auto
    .internal-blog
        width 900px
        margin 0 auto
        padding-top 0px
        overflow hidden
        clear both
        background-color #f5f5f5
        h1
            color #337abe
            font-size 35px
            font-weight bold
            margin-top 15px
            text-align center
            padding 5px
        .entry
            margin 12px auto
            padding 10px
            background-color #fff
            a
                text-decoration none
                .title
                    font-size 18px
                    margin 8px auto
                    text-decoration none
                .image
                    width 100%
                    //border 1px solid #000
                    height auto
                    img
                        width inherit
        a .index
            //border 1px solid #000
            width 100px
            min-height 42px
            border-radius 5px
            text-align center
            padding-top 8px
            font-size 15px
            float right
            margin-top 10px
            background-color #9dce47
            color #fff
            font-weight bold
        a .index:hover
            background-color #7fa835

.pagination-page-info
    padding: .6em
    padding-left: 0
    width: 40em
    margin: .5em
    margin-left: 0
    font-size: 12px
    b
        color: black
        background: #6aa6ed
        padding-left: 2px
        padding: .1em .25em
        font-size: 150%


@media (max-width: 768px)
    .external-blog
        background-size cover
        background-position center center
        .internal-blog
            width auto
            margin 0 auto
            padding-top 0px
            padding-left 7px
            padding-right 7px
            overflow hidden
            clear both
            background-color #f5f5f5
            h1
                color #337abe
                font-size 35px
                font-weight bold
                margin-top 15px
                text-align center
                padding 5px
            .entry
                margin 12px auto
                padding 10px
                background-color #fff
                a
                    .title
                        font-size 18px
                        margin 8px auto
                    .image
                        width cover
                        //border 1px solid #000
                        height auto
                        img
                            width inherit
