input
    -webkit-appearance none
    -moz-appearance none
    appearance none

.chapter-title
    width 100%
    color #224961
    background none !important
    text-align left
    background-image url('../img/plus-icon.png')
    background-repeat no-repeat
.chapter-title:hover,
        .chapter-title:visited,
        .chapter-title:active, .chapter-title:link
    text-decoration none
.plus-ultra
    font-size 22px
    font-weight bold
.item-container
    margin-bottom 0

.contact-header-section
    width 100%
    overflow hidden
    clear both
    margin 0
    padding 0

.embed-responsive
    background-image url('../img/contenido-disponible-pronto.jpg')
    background-size cover
    color #f3f3f3
    font-weight bold

.course-image
    width 100%
    margin-top 0
    //border 1px solid #f5d5d5
    img
        min-width 100%
        overflow hidden
        height 210px
        object-fit cover
.course-content
    padding 10px

.right-side
    float right
    width 38%
    margin-top 5px

.left-side
    float left
    width 62%

ol, ul
    padding-inline-start 0

#country, #country_us
    overflow hidden
    clear both
    float right
    top 0
    cursor pointer
    width 120px
    height 35px
    margin-top -95px
    margin-right -15px
    display none !important
    .country_symbol
        float left
        width 80px
        height 20px
        margin-top 5px
    .flag
        float left
    #country_div
        float left

.visible
    display block

.hidden
    display none

.btn
    border 0
    border-radius 0

.cart-section
    width 250px
    float right
    margin-right 5px
    margin-top 10px

.btn-plus
    background rgb(77,225,137)
    background linear-gradient(90deg, rgba(77,225,137,1) 0%, rgba(77,225,137,1) 31%, rgba(145,224,97,1) 100%)
    font-size 35px
    line-height 50px
    font-weight bold
    color #fff
    float left
    border-radius 0
    text-align center
    width 50px
    height 50px
    text-decoration none
    cursor pointer
    margin-bottom 5px
    margin-right 15px
    border-right 2px solid #fff
.btn-plus:hover
    color #f3f3f3
    text-decoration none

.btn-buy
    background rgb(77,225,137)
    background linear-gradient(90deg, rgba(77,225,137,1) 0%, rgba(77,225,137,1) 31%, rgba(145,224,97,1) 100%)
    text-decoration none
    cursor pointer
    width 250px
    height 50px
.btn-buy:hover
    color #f3f3f3
    text-decoration none
.shopping-cart-img, .contact-us-img
    width 40px
    height 40px
    background-image url('https://www.apixela.net/static/img/cesta.png')
    font-size 22px
    line-height 50px
    font-weight bold
    color #fff
    margin-right 5px
    margin-bottom 5px
    border-radius 0
    text-align center
    background-size 35px
    background-repeat no-repeat
    background-position 5px 10px
    float left
.contact-us-img
    background-image url('https://www.apixela.net/static/img/phone.png')
    background-size 75%
    background-position 12px 10px
.shopping-cart-buy
    line-height 50px
    font-size 22px
    font-weight bold
    color #fff
    float left
    margin 0
    padding 0
    border-radius 0
    text-align center
    margin-left 10px

.card
    margin 5px
.profile-card, .skill-card
    width 48%
    float left

.question-row
    border 1px solid #f3f3f3
    h2, h3
        padding-top 10px
        display block
        width 100%
        text-align center
    h3
        font-size 18px
@media (min-width: 768px)
    /* */
    body ::-webkit-scrollbar {
      width: 10px;
    }
    body ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    body ::-webkit-scrollbar-thumb {
      background: #c0c0c0;
    }
    body ::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
    .flag
        margin 0 auto

    /* */

    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
      background: #ccc;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #888;
    }

.novisible
    display none !important

.same-width
    display flex
.courses-enroll
    background-color #fff !important
.courses-row-enroll
    display inline-block

.courses
    background-color #f0f0f0
    max-width 100%
    width 100%
    margin-right 0
    margin-left 0
    margin-top 0
    margin-bottom 0
    background-size cover
    overflow hidden
    .internal-courses
        max-width 1200px
        margin 0 auto
        background-color #f0f0f0
        //border 1px solid #f3f3f3
        h1
            font-size 30px
            text-align: left;
            width: 100%;
            color: #91e061;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        h5
            font-size 28px
            text-align: left;
            width: 100%;
            color: #91e061;
            font-weight: bold;
            //padding-top: 15px;
            //padding-bottom: 10px;
        a
            font-size 14px
            text-align: right;
            color: #fff;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: 5px;
        .course-row
            border 1px solid #00f
            padding 5px
            padding-top 10px
            margin 5px
            background-color #fff
            float left
    .internal-courses-detail
        margin 0 auto
        padding-left 12px
        padding-right 12px
        padding-bottom 55px
        background-color #fff
        width 100%
        padding 5px
        margin 0 auto

        h1
            font-size 30px
            text-align: left;
            width: 100%;
            color: #91e061;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        h5
            font-size 22px
            text-align: left !important;
            width: 100%;
            color: #91e061;
            font-weight: bold;
            //padding-top: 15px;
            text-align center
            //padding-bottom: 10px;
        a
            font-size 18px
            text-align: left;
            width: 100%;
            color: #a1c339;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        .course-row
            padding 5px
            padding-top 10px
            padding-bottom 10px
            margin 10px 0
            background-color #fff
            overflow hidden
            clear both
            float left
        .summary
            margin-top 10px
            margin-bottom 10px
            ul
                margin-left 15px
                li
                    padding 5px
                li:hover
                    background-color #fff
        .index, a .index
            float right
            //border 1px solid #7ca435
            border-radius 2px
            background #4de189
            background linear-gradient(90deg,#4de189 0%,#4de189 31%,#91e061 100%)
            color #ffffff
            padding 12px
            margin-top 10px
        .index:hover, a index:hover
            background-color #7a3232

        ul
            a
                list-style-type none
                text-decoration none
            .free, .premium
                //border 1px solid #f3f3f3
                background-image url('../img/video-icon.png')
                background-position 4px center
                background-repeat no-repeat
                background-size 30px 30px
                min-height 40px
                padding 5px
                font-weight normal
                //margin-top 12px
                //margin-bottom 12px
                padding-left 40px
                background-color #fff
                list-style-type: none;
                text-decoration: none;
            .premium:hover,.free:hover, a .premiun:hover, a .free:hover
                //background-color #fffbe5
                text-decoration: none;
            .free
                //background-color #fbfbfb
            .premium
                //background-color #ededed
                color #555
    .internal-courses-list
        max-width 1100px
        margin 0 auto
        padding-left 2px
        padding-right 2px
        h1
            font-size 30px
            text-align: left;
            width: 100%;
            color: #23378b;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        h2
            font-size 30px
            text-align: left;
            width: 100%;
            color: #23378b;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align center
        h5
            font-size 28px
            text-align: left;
            width: 100%;
            color: #23378b;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        .title-ref
            font-size 18px
            text-align: left;
            width: 100%;
            color: #a1c339;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        .title-ref:hover
            text-decoration none
        .course-row
            //border 1px solid #00f
            padding 5px
            padding-top 10px
            padding-bottom 10px
            //margin 10px
            background-color #fff
            //overflow hidden
            //clear both
            float left
            .title
                color #91e061
                margin 5px auto
                border-radius 2px
                padding-top 10px
                padding-bottom 10px
                padding-left 10px
                font-size 18px
                font-weight bold
            .summary
                color #222222
                font-size 15px
                margin-top 10px
                font-weight normal
        .item-container
            .free, .premium
                border 1px solid #f3f3f3
                //background-color #fbfbfb
                background-image url('../img/video-icon.png')
                background-position 4px 4px
                background-repeat no-repeat
                background-size 30px 30px
                min-height 40px
                padding 5px
                margin-top 8px
                margin-bottom 8px
                padding-left 40px
                background-color #fff
                list-style-type: none;
        ul
            margin-left 20px
            margin-bottom 0
            padding 0
    .internal-courses-lesson
        //max-width 950px
        width 62%
        margin 0 auto
        padding-left 12px
        padding-right 12px
        background-color #fff
        float left
        clear both
        height 100vh
        overflow-y scroll
        //flex 1
        .inner-box
            clear both
            overflow hidden
        h1
            font-size 30px
            text-align: left;
            width: 100%;
            color: #91e061;
            font-weight: bold;
            padding-top: 15px;
            padding-bottom: 10px;
        h5
            font-size 28px
            text-align: left;
            width: 100%;
            color: #91e061;
            font-weight: bold;
            padding-top: 15px;
            padding-bottom: 10px;
        a
            font-size 18px
            text-align: left;
            width: 100%;
            color: #a1c339;
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
        .course-row
            //border 1px solid #00f
            padding 10px
            margin 10px
            background-color #fff
        .summary
            margin-top 10px
            margin-bottom 10px
        .index, a .index
            float right
            border-radius 0px
            background rgb(77,225,137)
            background linear-gradient(90deg, rgba(77,225,137,1) 0%, rgba(77,225,137,1) 31%, rgba(145,224,97,1) 100%)
            color #ffffff
            padding 5px 8px
        .index:hover, a index:hover
            background-color #7a3232
        .previous-next
            width 100%
            margin 5px auto
            min-height 42px
            a .previous, .next
                background-size 25px
                background-repeat no-repeat
                min-height 20px !important
                border-radius 2px
                font-size 16px
                color #d3dbc4
                padding 8px
                padding-top 8px
            a .previous:hover, a .next:hover
                background-color #d3dbc4
                color #fff
            a .previous
                float left
                background-image url('../img/prev-row.png')
                background-position 8px 8px
                padding-left 42px
                width 130px
            a .next
                float right
                background-image url('../img/next-row.png')
                background-position 87px 8px
                padding-left 8px
                width 120px
        ul
            padding-left 25px
            a
                list-style-type none
                text-decoration none
            .free, .premium
                border 1px solid #f3f3f3
                background-image url('../img/video-icon.png')
                background-position 4px 4px
                background-repeat no-repeat
                background-size 30px 30px
                min-height 40px
                padding 5px
                margin-top 12px
                margin-bottom 12px
                padding-left 40px
                list-style-type: none;
                text-decoration: none;
            .premium:hover, a .premium:hover, .free:hover, a .free:hover
                //background-color #fffbe5
                text-decoration: none;
            li
                padding-left 10px
            .free
                background-image url('../img/video-icon.png')
            .premium
                background-image url('../img/plus-icon.png')
    .internal-courses-lesson-right
        width 37.5%
        background-color #f3f3f3
        margin 0
        padding 5px
        background-color #fff
        float right
        margin-top 0px
        height 100vh
        overflow-y scroll
        .comment_holder
            border 1px solid #f3f3f3
            padding 2px
            overflow auto
            .item
                width 100%
                display block
                clear both
                overflow hidden
                min-width 35px
                margin 3px auto
                .picture
                    width 35px
                    height 35px
                    float left
                    img
                        width: inherit;
                        border-radius 50%
                .content
                    float left
                    width calc(99% - 44px)
                    padding 3px
                    margin-left 8px
                    background-color #f2f3f5
                    border-radius 2px

                    .signature
                        color #385898
                        font-weight bold
            .no-item
                font-size 25px
    .internal-enroll, .internal-enroll-with-border
        padding-top 15px
        width 350px
        margin 15px auto
        text-align center
        padding 5px
        padding-bottom 10px
        background-color #fff
        h1
            color #333
            text-align left
            font-weight bold
            font-size 25px
            margin-top 10px
        .enroll-title
            color #333
            text-align center
            font-weight bold
            font-size 25px
            margin-top 10px
        .invoices
          text-align left
          float left
          border-collapse: collapse;
          width: 350px
          margin 0 auto
          display block

          .table
              margin 0 auto
              width 90%
              .tr-product
                  width 95%
        .form-cancel
            margin-top 130px !important
        .form
            margin-top 10px
            #submit
                border-radius 2px !important
            .form-group
                .control-label
                    text-align left
                #card_number
                    background-image url('../img/credit-card-image.png')
                    background-position: 275px -121px, 260px -61px;
                    background-size: 120px 361px, 120px 361px;
                    background-repeat: no-repeat;
                #card_number.visa
                    background-position: 275px -163px, 260px -61px !important;
                #card_number.visa_electron
                    background-position: 275px -205px, 260px -61px;
                #card_number.mastercard
                    background-position: 275px -247px, 260px -61px;
                #card_number.maestro
                    background-position: 275px -289px, 260px -61px;
                #card_number.discover
                    background-position: 275px -331px, 260px -61px;
                #card_number.valid.visa
                    background-position: 275px -163px, 260px -87px;
                #card_number.valid.visa_electron
                    background-position: 275px -205px, 260px -87px;
                #card_number.valid.mastercard
                    background-position: 275px -247px, 260px -87px;
                #card_number.valid.maestro
                    background-position: 275px -289px, 260px -87px;
                #card_number.valid.discover
                    background-position: 275px -331px, 260px -87px;
            .title
                font-size 20px
                font-weight bold
                text-align center
                float left
                width 100%
                height 40px
                margin-top 5px

        .invoices td, .invoices th
          border: 1px solid #ddd;
          padding: 8px;

        .invoices tr:nth-child(even){background-color: #f2f2f2;}

        .invoices tr:hover {background-color: #ddd;}

        .invoices th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #cedccf;
          color: white;
        }
        .row, .form_group
            text-align left
            width 330px
        .disabledbutton
            pointer-events: none;
            opacity: 0.4;
        .buttons
            .button {
                background-color:#e1e1e1;
                color #424242
                -moz-border-radius:2px;
                -webkit-border-radius:2px;
                border-radius:2px;
                border:1px solid #d1d1d1;
                display:inline-block;
                cursor:pointer;
                font-size:15px;
                padding:5px 31px;
                text-decoration:none;
                width 95%
            }
            .button:hover {
                background-color:#e1e1e1;
            }
            .button:active {
                position:relative;
                top:1px;
            }

    .internal-enroll-with-border
        background-color #fff
        border 1px solid #d3d3d3
    .create-enroll
        width 775px
@media (max-width: 768px)
    .right-side
        float left
        width 100%

    .left-side
        float left
        width 100%

    .profile-card, .skill-card
        width 98%
        margin 5px

    .cart-section
        width 250px
        float none
        //margin-right 5px
        //margin-top 10px
        margin 5px auto


    .internal-courses-list
        .course-row

            overflow hidden
            clear both
    #country, #country_us
        overflow hidden
        clear both
        float right
        top 0
        cursor pointer
        width 120px
        height 35px
        margin-top -95px
        margin-right -15px
        display none !important
        .country_symbol
            float left
            width 80px
            height 20px
            margin-top 5px
        .flag
            float left
        #country_div
            float left
    .flag
        margin 0 auto
    .same-width
        display block
    .courses
        background-color #e8ecee
        .internal-courses
            background-color #fff
            padding 5px
            .title-course
                color #3e9a46
        .create-enroll
            width auto !important
        .internal-enroll, .internal-enroll-with-border
            margin 0 auto
            .enroll-title
                margin-top 20px
        .internal-courses-lesson, .internal-courses-lesson-right
            width 98%
            //width auto
            overflow-y auto
            display inline-block
            margin 5px auto
            padding 5px
            float left
            flex 1
            height auto
            //border 1px solid #000
    #generic_price_table
        .container
            background-color #f0f0f0
            .row
                width auto !important
                margin 0 auto
                .col-md-6
                    padding-right 0px
                    padding-left 0px

/* ======================== */
/*   Syed Sahar Ali Raza    */
/* ======================== */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
body{background-color:#eee;}

#generic_price_table
    background-color: #f0eded;
    .container
        background-color #fff
        .row
            width 750px
            margin 0 auto


/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
    background-color: #fff;
    border 1px solid #f3f3f3
}

#generic_price_table .generic_content .generic_head_price{
    background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{
    color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
    color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
    background-color: #E4E4E4;
    border-left: 5px solid #4DE189;
}

#generic_price_table .generic_content .generic_price_btn a{
    border: 1px solid #4DE189;
    color: #4DE189;
}

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
    border-color: #4DE189 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #4DE189;
    color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
    color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
    background-color: #4DE189;
    color: #fff;
}
#generic_price_table{
    margin: 10px 0 10px 0;
    font-family: 'Raleway', sans-serif;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
    overflow: hidden;
    position: relative;
    text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
    margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
    margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
    position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
    padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
    display: block;
    cursor pointer
    background-image url('../img/change-currency.png')
    background-position right bottom
    background-size 40px 40px
    background-repeat no-repeat

}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    padding: 15px 0;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
    padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
    margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 767px) {
    #generic_price_table .generic_content{
        margin-bottom:10px;
        margin-top:10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #generic_price_table .col-md-3{
        float:left;
        width:50%;
    }

    #generic_price_table .col-md-4{
        float:left;
        width:50%;
    }

    #generic_price_table .generic_content{
        margin-bottom:75px;
    }
}
#generic_price_table_home{
     font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
    color: #7885CB;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}
.demo-pic{
    margin: 0 auto;
}
.demo-pic:hover{
    opacity: 0.7;
}

#generic_price_table_home ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
}
#generic_price_table_home li{
    float: left;
}
#generic_price_table_home li + li{
    margin-left: 10px;
    padding-bottom: 10px;
}
#generic_price_table_home li a{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0px;
}
#generic_price_table_home .blue{
    background: #3498DB;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
    background: #4DE189;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
    background: #7F8C8D;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
    background: #34495E;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
    background: #E67E22;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
    background: #9B59B6;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
    background: #E74C3C;
    transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
    background: #1ABC9C;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}
#generic_price_table_home .divider span{
    width: 100%;
    display: table;
    height: 2px;
    background: #ddd;
    margin: 50px auto;
    line-height: 2px;
}
#generic_price_table_home .itemname{
    text-align: center;
    font-size: 50px ;
    padding: 50px 0 20px ;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
    padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
    color: #666;
    margin: 0;
    padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
    background-color: #666;
    color: #FFF;
    text-decoration:none;

}
.bottom_btn:hover{
    background-color: #666;
    color: #FFF;
    text-decoration:none;
}

