.external
    background-image url('../img/slide05.jpg')
    background-position center left
    background-repeat no-repeat
.general-title
    background-image none
.internal
    padding-bottom 10px
.mobile
    display none !important
.no-mobile
    display block

.container-fluid
    background-color #ddd
.events
    background-color #8eb444
    color #fff !important
    .internal-events
        .container
            .info
                .text_title
                    color #fff
            .date
                .date_number, .date_month
                    color #fff
                    padding-top 0px
                .date_number
                    font-size 65px
                    height 70px
                    line-height 75px
.index-title
    font-size 27px
    line-height 50px
    color #97c83e
    text-align center
    border 2px solid #97c83e
    border-radius 2px
    margin 10px
    padding 5px
    background-color #f4f4f4
.line
    //border 1px solid #000
    .form
        width 350px
        margin 0 auto
        padding 5px
        padding-top 0
        //border 1px solid #ff0

.places
    background none
    margin-top 0
    margin-bottom 0
    padding-top 0
    padding-bottom 0
    .internal-places
        width 1200px
        max-width 1200px
        margin 0 auto
        background #f0f0f0
        border 1px solid #f0f0f0

.courses
    width 1200px
    margin 0 auto
    margin-bottom 0
    margin-top 0
    padding-top 0
    padding-bottom 0
    .internal-courses
        clear both
        overflow hidden
        background-color #f0f0f0
        .row-eq-height
            margin-left 0px
            margin-right 0px
        .col-md-4
            padding-left 5px
            padding-right 5px
        .col-md-12
            border 1px solid #999999
            background-color #fff
        h5
            font-size 30px
            color #97c83e
            text-align center
    .internal-courses .index
        background-color #00ff33
        h5
            font-size 30px
            color #97c83e
            text-align center
.projects
    margin 0
    padding 0
    padding-top 0
    padding-bottom 0
    .internal-projects
        border 1px solid #fff
        margin-top 0
        padding-top 0
        width 1200px
        margin 0 auto
        padding 0
        background-color #fff
.why-external
    margin 0
    padding 0
    .why-internal
        background-color #fff
        width 1200px
        margin 0 auto
        padding 0
        padding-bottom 0
        padding-top 0
        border 1px solid #fff
        ul
            width 1200px
.hourly-container
    background-color #fff
    width 1200px
    max-width 1200px
    background-position 70px center
    background-size 250px
.pline
    text-align left

.control-label
    display block

.call-to-action
    width 350px
    display block
    line-height 20px !important
    padding-top 10px
    margin 5px auto !important
    text-align center
    border-radius 2px
    float none
.line-mobile, .line-mobile:after
    width 60%
    margin 0
    height 10px
    display block
    content "."
    visibility hidden
    display block
    height 0
    clear both

.messenger
    border-radius 2px !important

#submit
    border-radius 2px !important

.navbar, .navbar-collapse, .navbar-header
    background-color #23378b

.footer-distributed
    background-color: #0A1440;

.contactanos
    background-color #c3540d !important

.contactanos:hover
    background-color #9f4811 !important

.login-button
    background-color #778BD9 !important

#submit
    border-radius 2px
    width 99%
    margin 0 auto

@media (max-width: 768px)
    .call-to-action
        //width auto
        display block
        width 370px !important
        margin 10px !important
        float none
    .mobile
        display block
    .no-mobile
        display none
        width 100%
        min-height 40px;
    .external
        background-position center top
        background-size 100%
        background-image url('../img/slide09.jpg')

    .internal-courses, .internal-places, .why-internal, .hourly-container
        width auto
        max-width auto
    .index-title
        width auto
    .courses
        width auto
    .container
        background-color #8eb444
    .projects
        .internal-projects
            width auto
    .places
        .internal-places
            width auto
            max-width auto
    .why-internal
        width auto
        display none
        .why-internal
            width auto
    .why-external
        .hourly-container
            background-position center 20px