.not-found-external
	width 100%
	background-color #f3f4f4
	.not-found-internal
		background-color #f3f4f4
		background-image url('../img/dark-side.jpg')
		background-repeat no-repeat
		background-position center top
		width 760px
		min-height 400px
		margin 0 auto
		margin-bottom -15px
		margin-top -10px
		paddind-bottom 10px
		text-decoration none
		a, a:hover
			text-decoration none
		h1
			text-align center
			color #57626d
			font-weight bold
			font-size 60px
			text-align center
			display block
			padding-top 225px
		h3
			color #838b92
			font-size 32px
			text-align center
			display block
		a .index, .index
			display block
			padding 10px
			width 220px
			min-height 40px
			margin 25px auto
			font-size 21px
			background-color #f95b5b
			color #fff
			text-align center
			text-decoration none
			list-style-deconation none
		a .index:hover, .index:hover, .index:visited, .index:active
			text-decoration none
			list-style-deconation none
		.line
			width 100%
			height 30px

@media (max-width: 768px)
	.not-found-external
		width auto
		.not-found-internal
			background-image url('../img/dark-side.jpg')
			background-size 100%
			background-position top center
			width auto
			padding-top 120px
