{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="external-welcome">
		<div class="internal-welcome">
			<div class="box-inner">
        <span class="title">¡Hola <strong>{{ firstname }}</strong>!</span>
        <br>
        <span class="subtitle">¡Tu solicitud ha sido procesada!</span>
        <br>
        <span class="description">
        Nos pondremos en contacto en breve con noticias (muy) emocionantes de nuestros cursos.
        {% if flash_message is not none %}
            La respuesta de tu solicitud fue la siguiente:
            <strong> {{ flash_message }} </strong>
        {% endif %}
        </span>
        <div class="share">
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
          <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
          <a class="a2a_button_facebook"></a>
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_google_plus"></a>
          <a class="a2a_button_whatsapp"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->
      </div>


			</div>
      <div class="redirect">
        Serás redirigid@ en
        <br>
        <p id="time"></p>

        <script>
        // Set the date we're counting down to

        function AddMinutesToDate(date, minutes) {
            return new Date(date.getTime() + minutes*60000);
        }
        var countDownDate = new Date();
        var countDownDate = AddMinutesToDate(countDownDate,1)


        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="time"
            document.getElementById("time").innerHTML = seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("time").innerHTML = "EXPIRED";
            }
        }, 1000);
        </script>
        <script type="text/javascript">
          setTimeout(function() {
            document.location.href='https://apixela.net/';
          }, 60000);
        </script>

      </div>
		</div>
	</div>
</div>
{% include "footer.html" %}
{% endblock %}