{% extends "base.html" %}

{% block content %}
<div class="container-fluid" >
	<div class="external-course external-course-computacion">
		<div class="internal-course">
			<div class="box">
				<div class="icon computacion-icon"></div>
				<div class="title">Computación y <br><strong>Ofimática</strong></div>
				<a href="https://apixela.net/#contact-us-form"
				class="call-to-action">Inscríbete HOY</a>
			</div>
		</div>
	</div>
	<div class="external-course-content">
		<div class="content-course">
      <div class="description">Aprende a operar y utilizar tu computadora. Aprovecha al máximo las facilidades que brinda el uso correcto de la tecnología. Aprende a trabajar también con las tecnologías en la nube. 
      </div>
      <h5>Módulo 1: Excel </h5>
      <ul>
      <li>Crear y administrar hojas de cálculo y libros</li>
      <li>Navegar a través de hojas de cálculo y libros</li>
      <li>Formato hojas de cálculo y libros</li>
      <li>Personalizar las opciones y opiniones para hojas de cálculo y libros</li>
      <li>Configurar las hojas de cálculo y libros para imprimir o guardar</li>
      <li>Crear celdas y rangos</li>
      <li>Insertar datos en celdas y rangos</li>
      <li>Formato de celdas y rangos</li>
      <li>Rangos y orden y grupo de las células</li>
      <li>Crear tablas</li>
      <li>Modificar una tabla</li>
      <li>Filtrar y ordenar una tabla</li>
      <li>Aplicar fórmulas y funciones</li>
      <li>Resumir datos con funciones</li>
      <li>Utilizar la lógica condicional en funciones</li>
      <li>Formato y modificar texto con funciones</li>
      <li>Crear gráficos y objetos</li>
      <li>Creación de tablas y gráficos</li>
      <li>Análisis de Datos: Solver</li>
      <li>Uso de Macros</li>
      </ul>
      <h5>Módulo 2: Word</h5>
      <ul>
      <li>Crear y administrar documentos</li>
      <li>Crear un documento</li>
      <li>Búsqueda de texto en documento, insertar hipervínculos, marcadores, ir a</li>
      <li>Formato de un documento</li>
      <li>Cambiar vistas de documento</li>
      <li>Macros y seguridad de macros</li>
      <li>Configurar documentos para imprimir o guardar</li>
      <li>Configuración de documentos para imprimir</li>
      <li>Guardar archivos en ubicaciones remotas</li>
      <li>Proteger documentos con contraseñas</li>
      <li>Ajuste de escala de impresión</li>
      </ul>
      <h5>Módulo 3: PowerPoint </h5>
      <ul>
      <li>Crear y administrar presentaciones</li>
      <li>Diapositivas y las formas de insertar y formato</li>
      <li>Crear contenido deslizante</li>
      <li>Aplicar transiciones y animaciones</li>
      <li>Administrar múltiples presentaciones</li>
      </ul>
      <h5>Módulo 4: Mensajería y Cloud Computing</h5>
      <ul>
      <li>Administrar mensajes </li>
      <li>Administrar programaciones en cloud</li>
      <li>Gestionar contactos y grupos, y mensajería grupal </li>
      </ul>
      <h5>Detalles</h5>
      <div class="duration-container">
        <div class="duration">
          <h4 class="title">Calendario</h4>
          <span class="date">Inicio: <strong></strong>18 enero</span>
          <span class="time">Duración: <strong>10 meses</strong></span>
        </div>
        <div class="user-profile">
          <span class="title">Los profesores</span>
          <div class="image"><img src="{{url_for('.static', filename='img/monica.JPG')}}"></div>
          <span class="name">Monica Gonzalez</span>
          <span class="description">Especialista Office</span>
          <div class="clear"></div>
          
          
        </div>
      </div>
      <h5>Perfil de salida</h5>
      <div class="profile_info">
        <ul>
              <li>Especialista en programas clave de automatización de oficina.</li>
              <li>Operador de aplicaciones de computación.</li>
        </ul>
      </div>    
      {% include "whatsapp.html" %}			
		</div>
	</div>
{% include "courses.html" %}
</div>
{% include "footer.html" %}
{% endblock %}