<div class="inferior">
  <div class="inferior-container">
    <span class="otros">Otros diplomados: </span>
    <a href="/cine"><div class="cines" id="cine" title="Cinematográfia" name="cine"></div>
    <a href="/diseno"><div class="design" id="design" title="Diseño Publicitario" ></div>
    <a href="/computacion"><div class="computer" id="computer" title="Computación y Ofimática"></div>
    <a href="/powerpivot"><div class="english" id="english" title="PowerPivot"></div>
    <a href="/reparacion"><div class="repair" id="repair" title="Reparación y Mantenimiento"></div>
    <a href="/construccion"><div class="construction" id="construction" title="Construcción Digital"></div>
    <!--<a href="/produccion"><div class="produccions" id="produccions" title="Productor Musical"></div>-->
    <a href="/mikrotik"><div class="mikrotik" id="mikrotik" title="Mikrotik"></div> </a>
    <a href="/programacion"><div class="programacion" id="programacions" title="Desarrollo Apps Web"></div> </a>
  </div>
</div>