<footer class="footer-distributed">

      <div class="footer-left">

        <h3>
          <div alt="LOGO API" class="logo-footer"></div>
        </h3>

        <p class="footer-links">
          <a href="/">Inicio</a>
          ·
          <a href="/blog">Blog</a>
          ·
          <a href="/acerca">Acerca de</a>
          ·
          <a href="/faq">FAQ</a>
          ·
          <a href="https://apixela.net/#contact-us-form">Contáctanos</a>
        </p>

        <p class="footer-company-name">API Centro de Capacitación &copy; <span id="date"></span> <script type="text/javascript">
          date = document.getElementById("date");
          date.innerHTML = new Date().getFullYear();
</script></p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>17 Avenida 3-36, Zona 3</span> Quetzaltenango, Guatemala</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+502 22962574</p>
        </div>

        <div>
          <i class="fa fa-mobile-phone"></i>
          <p>+502 30050240</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:info@apixela.net">info@apixela.net</a></p>
        </div>


      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>Acerca de API</span>
          En API queremos hacer que la educación sea de acceso universal, tanto en tecnología como en idiomas.
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com/apixela" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.twitter.com/apixela" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/apixela" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </footer>