{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:url" content="https://www.apixela.net" />
<meta property="og:type" content="article" />
<meta property="og:title" content="API Centro de Capacitación" />
<meta property="og:description" content="Curso en Línea " />
<meta property="og:image" itemprop="image primaryImageOfPage" content="https://www.apixela.net/static/img/slide02.jpg" />

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('static', filename='css-minified/index.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid" >
	<div class="external row" id="contact-us-form">
		<div class="internal row">
			<!--
				<div class="link-courses">
				</div>
			-->
			<a href="/cursos">
				<div class="general-title">
				¡Cursos en línea!
				</div>
			</a>
			<div class="formulario" >
				<div class="titulo_form">EMPIEZA A <strong>APRENDER</strong> HOY</div>

				{{ wtf.quick_form(form) }}
			</div>
			<div class="line">
				<a href="whatsapp://send?text=&amp;Hola, necesito información acerca de los cursos:&amp;&phone=+50230050240&abid=+50230050240" style="text-decoration:none;" class="mobile" target="_blank">
				  	<div class="call-to-action">WhatsAppea</div>
				</a>
			</div>
		</div>
	</div>
	<!-- EVENTOS -->
	<a href="/cursos" style="text-decoration:none;" class="aevent">
		<div class="events row">
			<div class="internal-events">
				<div class="container">
					<div class="course-icon-mini"></div>
					<div class="date">
						<div class="date_number">29</div>
						<div class="date_month">Agosto</div>
					</div>
					<div class="course-icon">
					</div>
					<div class="info">
						<span class="title">Próximo Evento</span>
						<div class="text_title">Network Administration Specialist <strong>MIKROTIK</strong>
							<!--<div class="clock"></div>-->
						</div>
						<span class="text_tablet">Regístrate y descrubre promociones especiales.</span>
		        	</div>
		        	<span class="text_tablet_mini">Regístrate y descrubre promociones especiales.</span>
				</div>
			</div>
		</div>
	</a>

	<div class="courses row">
		<div class="internal-courses index">
			<h5 class="index-title">
				¿Qué cursos te ofrecemos?
			</h5>
			<div class="row-eq-height col-md-4">
				<div class="reparacion col-md-12">
					<div class="img">

					</div>
					<h2>Reparación de Computadoras y Celulares</h2>
					<p>
						Aprende a reparar computadoras y laptops. También aprende a reparar celulares, desde cero, sin requisitos.
					</p>
					<p>
						<a class="btn" href="/reparacion">Ver más »</a>
					</p>
				</div>
			</div>
			<div class="row-eq-height col-md-4">
				<div class="ingles col-md-12">
					<div class="img">

					</div>
					<h2>
						PowerPivot: Inteligencia de Negocios
					</h2>
					<p>
						Análisis de datos eficaz y modelado de datos en Excel. Gráficas dinámicas en tiempo real y accesibles.
					</p>
					<p>
						<a class="btn" href="/powerpivot">Ver más...</a>
					</p>
				</div>
			</div>
			<div class="row-eq-height col-md-4">
				<div class="diseno col-md-12">
	        		<div class="img">

					</div>
					<h2>
						Diseño Publicitario y Marketing Digital
					</h2>
					<p>
						Aprende las herramientas necesarias para trabajar en agencias de publicidad y/o agencias de medios.
					</p>
					<p>
						<a class="btn" href="/diseno">Ver más...</a>
					</p>
				</div>
			</div>
			<div class="row-eq-height col-md-4">
				<div class="computacion col-md-12">
					<div class="img">

					</div>
					<h2>Computación, Ofimática y Cloud Computing</h2>
					<p>
						Aprende a operar y utilizar tu computadora. Aprovecha al máximo las facilidades que brinda el uso correcto de la tecnología. Aprende a trabajar también con las tecnologías en la nube y todos sus beneficios. Además aprender a sincronizar PC, tablet y teléfono. Da un salto cualitativo en tus conocimientos. Aprende, comprende, emprende.
					</p>
					<p>
						<a class="btn" href="/computacion">Ver más...</a>
					</p>
				</div>
			</div>

			<div class="row-eq-height col-md-4">
				<div class="redes col-md-12">
	        		<div class="img">

					</div>
					<h2>
						Mikrotik y Ubiquiti
					</h2>
					<p>
						MikroTik proporciona routers y software para la conectividad a Internet, utilizando el sistema de software RouterOS.
						Ubiquiti provee de tecnología disruptiva para la creación de redes inalámbricas, tanto para la comunicación a largas distancias, como para el despliegue de pequeñas redes Wi-Fi. Ideal para proveedores WISP.

					</p>
					<p>
						<a class="btn" href="/mikrotik">Ver más...</a>
					</p>
				</div>
			</div>
			<div class="row-eq-height col-md-4">
				<div class="programacion col-md-12">
					<div class="img">

					</div>
					<h2>Programación Básica y Web</h2>
					<p>
						Programar es tan esencial como leer. Te enseñamos desde cero a entender, leer y escribir código. A pensar como desarrollador, y ser también un programador. Aprenderás los elementos clásicos de programación, a la vez usando la Programación Orientada a Objetos (POO), entre otros paradigmas modernos de programación. Programar es una nueva forma de pensar.

					</p>
					<p>
						<a class="btn" href="/programacion">Ver más...</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="projects">
		<div class="internal-projects">
			<h5 class="index-title">¿Quieres conocer algunos de los proyectos que podrás realizar?</h5>
	        <!-- Your embedded video player code -->
	        <div class="video bbfb-video" id="10153885783491991" data-link="https://business.facebook.com/apixela/videos/10153885783491991/">
			    <img class="bbfb-thumb" src="https://apixela.net/static/img/course-9.jpg"/>
			</div>
			<div class="play-button"></div>
		</div>
	</div>
	<div class="places row">
		<div class="internal-places ">
			<h5 class="index-title">
				¿Dónde nos puedes ubicar?
			</h5>
			<div class="content-places">
			</div>
		</div>
	</div>
	<div class="why-external row">
		<!-- Hourly -->
		<div class="hourly-container">
			<div class="title">
				Horarios de atención
			</div>
			<div class="hourly">
				<ul>
					<li>Domingo 		07.00 - 14.00 horas</li>
					<li>Lunes a jueves 	08.00 - 18.30 horas</li>
					<li>Viernes 		08.00 - 13.00 horas</li>
					<li>Sábado			CERRADO</li>
				</ul>
			</div>
		</div>
		<!-- Hourly -->
		<div class="why-internal ">
			<h5>¿Dudas?, ¡platiquemos!</h5>
			<a href="https://m.me/apixela" style="" class="a-messenger" target="_blank">
		    	<div class="messenger">Escríbemos en Messenger</div>
			</a>
		</div>
		<div class="why-internal">
			<div class="line-mobile"></div>
			<a href="whatsapp://send?text=&amp;Hola, necesito información acerca de los cursos:&amp;&phone=+50230050240&abid=+50230050240" style="text-decoration:none;" class="mobile" target="_blank">
	      		<div class="call-to-action">WhatsAppea</div>
			</a>
			<div class="line mobile"></div>
		</div>
	</div>
</div>
{% include "footer.html" %}
{% endblock %}

