{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:url" content="https://www.apixela.net" />
<meta property="og:type" content="article" />
<meta property="og:title" content="API Centro de Capacitación" />
<meta property="og:description" content="Curso en Línea " />
<meta property="og:image" itemprop="image primaryImageOfPage" content="https://www.apixela.net/static/img/slide02.jpg" />

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"
      href="{{url_for('static', filename='css-minified/index.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="external row" id="contact-us-form">
		<div class="internal row">
			<div class="general-title">
			{{ firstpage.name }}
			</div>
			<div class="general-subtitle">
			{{ firstpage.subtitle }}
			</div>
			<div class="general-href">
				<a href="{{ firstpage.href }}">
					<div class="inner-general-href">
						{{ firstpage.href_text }}
					</div>
				</a>
			</div>
			<a href="{{ url_for('course.index') }}" aria-pressed="true" class="btn button-course-general">
                <div>Cursos</div>
            </a>

		</div>
	</div>

	<div class="courses row">
		<div class="internal-courses index">
			<h5 class="index-title">Aprende con nosotros:</h5>
			{% for course in courses %}
				<div class="col-lg-6 col-md-6 col-sm-6 course-row">
					<div class="course-widget">
						<div class="embed-responsive embed-responsive-16by9">
							{{ course.web_course.video|safe }}
						</div>
						<!--<div class="img">
							<img src="{{ course.web_course.video | safe }}">
						</div>-->
						<h2>{{ course.name }}</h2>
						<p>
							{{ course.short_content }}
						</p>
						<div class="cart-section">
						  <a class="btn-plus" href="{{ base_url }}/cursos/{{course.web_course.slug}}">+</a>
						  <a href="{{ url_for('course.enroll',
                        course=course.web_course.id) }}">
                        	<div class="btn-buy">
		                        <div class="shopping-cart-img">
		                        </div>
		                        <div class="shopping-cart-buy">
		                        	Comprar ahora
		                        </div>
	                      	</div>
                    	  </a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

	<div class="courses row">
		<div class="internal-courses index">
			<h5 class="index-title">Conecta con líderes y profesionales</h5>
			<div class="col-lg-6 col-md-6 col-sm-12 course-row">
				<div class="advantage-widget">
					<div class="img">
						<img src="https://www.apixela.net/static/img/advantage-1.jpg">
					</div>
					<h2>Aprende a tu ritmo</h2>
					<p>
						Organiza tus propios horarios. Aprende sin salir de casa.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 course-row">
				<div class="advantage-widget">
					<div class="img">
						<img src="https://www.apixela.net/static/img/advantage-2.jpg">
					</div>
					<h2>Aplica tu conocimiento</h2>
					<p>
						Sé un emprendedor. Aplica tus conocimientos para brindar un servicio de calidad.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 course-row">
				<div class="advantage-widget">
					<div class="img">
						<img src="https://www.apixela.net/static/img/advantage-3.jpg">
					</div>
						<h2>Conectado con tus profesores</h2>
						<p>
							Tu profesor estará disponible para resolver cualquier duda.
						</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 course-row">
				<div class="advantage-widget">
					<div class="img">
						<img src="https://www.apixela.net/static/img/advantage-4.jpg">
					</div>
					<h2>Profesores expertos</h2>
					<p>
						Dispuestos a compartir su pasión y excelencia profesional.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 course-row">
				<div class="advantage-widget">
					<div class="img">
						<img src="https://www.apixela.net/static/img/advantage-5.jpg">
					</div>
					<h2>Certificado</h2>
					<p>
						Al finalizar el curso obtendrás un certificado firmado por tu profesor.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 course-row">
				<div class="advantage-widget">
					<div class="img">
						<img src="https://www.apixela.net/static/img/advantage-6.jpg">
					</div>
					<h2>Aumenta tus ingresos</h2>
					<p>
						Es tiempo de emprender y aprender las herramientas necesarias para sobresalir.
					</p>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 course-row">
				<div class="advantage-widget student-widget">
					<h1 id="student-number">{{ number_of_students }}</h1>
					<h2>estudiantes desde 2014</h2>
					<p>
						Nuestra experiencia y calidad humana garantizan tu aprendizaje.
					</p>
				</div>
			</div>
			<h5 class="index-title-gradient">Empieza con la meta que conecta tus sueños</h5>
		</div>
	</div>
	<div class="contact-us-section">

	</div>
	<!--
	<div class="places-row ">

		<div class="internal-places">

			<h5 class="index-title">{{ _('Enroll') }}</h5>
			<div id="generic_price_table">
				<section>
			        <div class="container" >
			            <div class="row">
			                <div class="col-md-6">
			                    <div class="generic_content active clearfix">
			                        <div class="generic_head_price clearfix">
			                            <div class="generic_head_content clearfix">
			                                <div class="head_bg"></div>
			                                <div class="head">
			                                    <span>{{ _('Monthly') }}</span>
			                                </div>
			                            </div>
			                            <div class="generic_price_tag clearfix">
			                                <span class="price">
			                                    <span class="sign">Q</span>
			                                    <span class="currency">300</span>
			                                    <span class="cent">.00</span>
			                                    <span class="month">/{{ _('MONTH') }}</span>
			                                </span>
			                            </div>
			                        </div>
			                        <div class="generic_feature_list">
			                        	<ul>
			                            	<li><span>Q 0.00</span> {{ _('in transport') }} </li>
			                                <li><span>00:00</span> {{ _('minuts in traffic') }}</li>
			                                <li><span>+4</span> {{ _('Professional certified') }} </li>
			                                <li><span>+4</span> {{ _('Professional courses') }} </li>
			                                <li><span>24/7</span> {{ _('Acces and support') }} </li>
			                            </ul>
			                        </div>
			                        <div class="generic_price_btn clearfix">
			                        	<a class="" href="{{ url_for('course.monthly_enroll') }}">{{ _('Sign up') }}</a>
			                        </div>
			                    </div>
			                </div>
			                <div class="col-md-6">
			                    <div class="generic_content clearfix">
			                        <div class="generic_head_price clearfix">
			                            <div class="generic_head_content clearfix">
			                                <div class="head_bg"></div>
			                                <div class="head">
			                                    <span>{{ _('Yearly') }}</span>
			                                </div>
			                            </div>
			                            <div class="generic_price_tag clearfix">
			                                <span class="price">
			                                    <span class="sign">Q</span>
			                                    <span class="currency">200</span>
			                                    <span class="cent">.00</span>
			                                    <span class="month">/{{ _('YEAR') }}</span>
			                                </span>
			                            </div>
			                        </div>
			                        <div class="generic_feature_list">
			                        	<ul>
			                            	<li><span>Q 0.00</span> {{ _('in transport') }} </li>
			                                <li><span>00:00</span> {{ _('minuts in traffic') }}</li>
			                                <li><span>+6</span> {{ _('Professional Certified') }} </li>
			                                <li><span>+4</span> {{ _('Professional courses') }} </li>
			                                <li><span>24/7</span> {{ _('Acces and support') }} </li>
			                            </ul>
			                        </div>
			                        <div class="generic_price_btn clearfix">
			                        	<a class="" href="{{ url_for('course.yearly_enroll') }}">{{ _('Sign up') }}</a>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </section>
			</div>
		</div>
	</div>
	-->

</div>

<div class="external-contact-us row container" id="myForm">
	<div class="row contact-us-row">
		<div class="col-sm contact-us-image">
		</div>
		<div class="col-sm line line-whatsapp">
			<a href="https://wa.me/50230050240?text=Hola.+Me+gustar%c3%ada+informaci%c3%b3n+de+la+academ%c3%ada+y+de+los+cursos." style="text-decoration:none;" target="_blank">
			  	<div class="call-to-action">¿Dudas? Wasapiemos ;-)</div>
			</a>
			<!--
			<a href="https://m.me/apixela" style="text-decoration:none;" target="_blank">
			  	<div class="call-to-action">¿Prefieres Fb? Escríbenos :-)</div>
			</a>-->
			<a href="#" style="text-decoration:none;">
			  	<div class="call-to-action">¿Hablamos? (+502) 2296 2574 </div>
			</a>
		</div>
		<div class="col-sm internal-form row">
			<div class="formulario" >
				<div class="titulo_form">Escríbenos</div>

				{{ wtf.quick_form(form) }}
			</div>
		</div>
	</div>
</div>


{% include "footer.html" %}
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="{{url_for('static', filename='js/animate.js')}}"></script>
{% endblock %}