{% extends "base.html" %}

{% block content %}
<div class="container-fluid" >
	<div class="external-course external-course-ingles">
		<div class="internal-course">
			<div class="box">
				<div class="icon ingles-icon"></div>
				<div class="title">Idioma <br><strong>Inglés</strong></div>
				<a href="https://apixela.net/#contact-us-form"
				class="call-to-action">Inscríbete HOY</a>
			</div>
		</div>
	</div>
	<div class="external-course-content">
		<div class="content-course">
      <span class="description">Aprende inglés. Esperamos que tomes conciencia de la importancia de este idioma hoy en día. No sabes la cantidad de alumnos que después de un tiempo de dejar el curso han tenido que volver ya que se han dado cuenta que el inglés es esencial para la superación personal y el trabajo.
      </span>
      <span class="description"></span>
      <h5>Nivel Básico </h5>
          <ul>
            <li>En este nivel lograrás un nivel de comunicación que te permita desenvolverte en el idioma inglés. Una vez lo hayas finalizado podrás mantener una conversación básica.</li>
            <li><strong>Módulos 1 - 5</strong></li>
          </ul>
        <h5>Nivel Intermedio</h5>
          <ul>
            <li>Mediante dinámicas y actividades te proveemos de las herramientas necesarias para garantizar tu habilidad de utilizar correctamente la gramática, ampliar tu vocabulario y desarrollar tus capacidades de comprensión en lecturas y conversaciones. </li>
            <li><strong>Módulos 6 - 10</strong></li>
          </ul>
        <h5>Nivel Avanzado</h5>
          <ul>
            <li>Le damos un seguimiento a lo que aprendiste en los módulos anteriores, de manera que refuerces tu gramática, volcabulario, comprensión y escritura. Al completar esta etapa podrás expandir el aprendizaje adquirido a un nivel más profesional y perfeccionar el idioma.</li>
            <li>Módulos 11 - 16</li>
            
          </ul>
        <h5>Módulo de Adecuación y Perfeccionamiento </h5>
          <ul>
            <li>Si manejas el idioma inglés pero sientes que debes perfeccionarlo, este es el nivel que te conviene. Aquí lograrás alcanzar la excelencia del idioma a nivel profesional, en la cuál desarrollarás al máximo tu capacidad de expresión oral y escrita. </li>
            <li>Fase personalizada. Consulta para más información.</li>
          </ul>
        <h5>Módulo adicionales</h5>
          <ul>
            <li>Inglés para Call Center</li>
            <li>Inglés para Business</li>
            <li>Inglés para Mangement y Marketing</li>
          </ul>

      <h5>Detalles</h5>

      <div class="duration-container">  
        <div class="duration">
          <h4 class="title">Calendario</h4>
          <span class="date">Inicio: <strong></strong>15 julio</span>
          <span class="time">Duración de módulo: <strong>3 meses</strong></span>
        </div> 
        <!--<div class="user-profile"> 
          <span class="title">Los profesores</span>
          <div class="image"><img src="<?php echo get_template_directory_uri(); ?>/img/icons/hugo.jpg"></div>
          <span class="name">Carlos Hugo Cardenas</span>
          <span class="description">TOELF Certified Instructor</span>
          <div class="clear"></div>

        </div>-->
      </div>
      <h5>Perfil de salida</h5>
      <div class="profile_info">
        <ul>
          <li>Entender conversaciones completas, comunicar ideas claras y concretas.</li>
          <li>Realizar preguntas de temas diversos.</li>
          <li>Trasmitir opiniones de manera fluida, entender todo tipo de lectura.</li>
        </ul>
      </div>
	      
        {% include "whatsapp.html" %}     
			
		</div>
	</div>
{% include "courses.html" %}
</div>
{% include "footer.html" %}
{% endblock %}