{% extends "base.html" %}

{% block content %}
<div class="container-fluid" >
  <div class="external-course external-course-mikrotik">
    <div class="internal-course">
      <div class="box">
        <div class="icon mikrotik-icon"></div>
        <div class="title">Mikrotik y <br><strong>Ubiquiti</strong></div>
        <a href="https://apixela.net/#contact-us-form"
        class="call-to-action">Inscríbete HOY</a>
      </div>
    </div>
  </div>
  <div class="external-course-content">
    <div class="content-course">


      <div  style="margin-top:10px;">
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div> 
        <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

        <!-- Your embedded video player code -->
        
        <iframe class="iframein" src="https://www.youtube.com/embed/IAJhU4tivsc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <span class="description">
      MikroTik es una empresa letona que fue fundada en 1996 para desarrollar routers y sistemas ISP inalámbricos. MikroTik ahora proporciona hardware y software para la conectividad a Internet en la mayoría de los países alrededor del mundo. El uso de hardware de PC estándar de la industria y sistemas completos de enrutamiento permitió la creación del sistema de software RouterOS que proporciona estabilidad, controles y flexibilidad para todo tipo de interfaces de datos y enrutamiento. 
      <br>
      Ubiquiti Networks, Inc., es una compañía estadounidense proveedora de tecnología disruptiva para la creación de redes inalámbricas. Ubiquiti se dedica principalmente al diseño de hardware de redes inalámbricas, tanto para la comunicación a largas distancias, como para el despliegue de pequeñas redes Wi-Fi, priorizando la innovación y el alto rendimiento a bajo coste. Sus principales clientes son proveedores WISP y empresas dedicadas al despliegue de redes. 
      </span>
      <span class="description"></span>
      <h5>Mikrotik </h5>
          <ul>
          <li>Instalación, configuración y resolución de problemas en redes de datos donde intervengan Routers y Switches.</li>
          <li> Instalación y configu´ración de switches y routers Mikrotik en interconexiones de redes multiprotocolo que utilizan interfaces LAN y WAN.</li>
          <li>Mejorar el rendimiento y la seguridad de la red.</li>
          <li>Llevar a cabo tareas de nivel de entrada en la planificación, diseño, instalación, operación y solución de problemas de Redes Ethernet TCP / IP.</li>
          </ul>
        
        <h5>Ubiquity </h5>
          <ul>

          <li>Fundamentos de RF</li>
          <li>Fundamentos de Antenas</li>
          <li>Análisis de Espectro</li>
          <li>Cálculo de enlace</li>
          <li>Configuración de antenas de corto y mediano alcance</li>
          </ul>

      <h5>Detalles</h5>

      <div class="duration-container">  
        <div class="duration">
          <h4 class="title">Calendario</h4>
          
          <span class="time">Duración de módulo: <strong>3 meses</strong></span>
        </div> 
        <!--<div class="user-profile"> 
          <span class="title">Los profesores</span>
          <div class="image"><img src="<?php echo get_template_directory_uri(); ?>/img/icons/hugo.jpg"></div>
          <span class="name">Carlos Hugo Cardenas</span>
          <span class="description">TOELF Certified Instructor</span>
          <div class="clear"></div>

        </div>-->
      </div>
      <h5>Perfil de salida</h5>
      <div class="profile_info">
        <ul>
          <li>Técnico instalador de redes Ubiquity.</li>
          <li>Técnico instalador y programador de routers Mikrotik.</li>
        </ul>
      </div>  
        {% include "whatsapp.html" %}     
      
    </div>
  </div>
{% include "courses.html" %}
</div>
{% include "footer.html" %}
{% endblock %}