{% extends "base.html" %}

{% block content %}
<div class="container-fluid" >
  <div class="external-course external-course-programacion">
    <div class="internal-course">
      <div class="box">
        <div class="icon programacion-icon"></div>
        <div class="title">Programación <br><strong>Web</strong></div>
        <a href="https://apixela.net/#contact-us-form"
        class="call-to-action">Inscríbete HOY</a>
      </div>
    </div>
  </div>
  <div class="external-course-content">
    <div class="content-course">
      <div class="description">
      Programar es tan esencial como leer. Te enseñamos desde cero a entender, leer y escribir código. A pensar como desarrollador, y ser también un programador. Aprenderás los elementos clásicos de programación, a la vez usando la Programación Orientada a Objetos (POO), entre otros paradigmas modernos de programación.
      </div>
      <h5>MODULO 1 - Introducción y fundamentos a las tecnologías aplicadas al Internet</h5>

  <ul>
<li>Cómo funciona Internet</li>

  <li>Direcciones IP y nombres de dominio</li> 
  <li>Relación entre DNS y Dominios </li>


  <li>Los navegadores Web</li>

  <li>Sitios y Paginas web </li>

  <li>Hosting y Servidores</li>

  <li>Cómo instalar nuestro propio servidor local </li>

  <li>Cómo colocar archivos en nuestro propio servidor </li>

  <li>Software de FTP</li>

  <li>Que es un servidor FTP</li>
 
  <li>Cómo saber que software FTP es adecuado</li>
 
  <li>Cómo transferir archivos al Hosting por FTP</li>
</ul>

<h5>MODULO 2 - Fundamentos del lenguaje HTML</h5>
  <ul>
<li>Introducción a HTML </li>

  <li>Etiquetas</li>

  <li>Estructura básica de una página web</li>

  <li>Título de la página </li>
 
  <li>Colores en hexadecimal</li>
  
  <li>El texto</li>

  <li>Caracteres especiales y espacios en blanco</li>

  <li>Saltos de línea </li>

  <li>Texto preformateado </li>

  <li>Sangría </li>

  <li>Párrafos</li>

  <li>Marquesinas</li>

  <li>Las listas </li>

  <li>Hiperenlace</li>

  <li>Tipos de referencias </li>

  <li>Formato de los enlaces</li>
 
  <li>Formatos de imagen</li>
 
  <li>Borde de una imagen</li>

  <li>Tamaño de una imagen</li>

  <li>Tabla, Fila, Columna o celda, Formato de la tabla </li>

  <li>Encabezado de la columna (TH) </li>

  <li>Título de la tabla </li>

  <li>Combinar celdas </li>

  <li>Marcos</li>

  <li>Conjunto de marcos, sin marcos </li>

  <li>Formularios</li>

  <li>Video y audio</li>
 
  <li>Películas Flash </li>

  <li>Lenguajes de script / Javascript </li>

  <li>Hojas de estilo, CSS</li>

  <li>Qué son las hojas de estilo</li>

  <li>Sintaxis de las hojas de estilo</li>
  <li>Vincular una hoja de estilo</li>

  <li>Las propiedades </li>
</ul>

      <span class="profile">Al finalizar el curso, tendrás las siguientes habilidades:</span>
      <div class="profile_info">
        <ul>
              <li>Brindar la información necesaria para comprender las tecnologías involucradas en el diseño y programación de una página web.</li>

              <li>Adquirir conocimientos relacionados con el diseño y la manipulación de imágenes para páginas web.</li>

              <li>Estructurar y dar formato a tu propia página web.</li>

              <li>Incorporar al sitio web archivos multimedia como tablas, sonidos, imágenes, videos, entre otros, los cuales podremos visualizar desde cualquier navegador web.</li>
        </ul>
      </div>
      {% include "whatsapp.html" %}     
      
    </div>
  </div>
{% include "courses.html" %}
</div>
{% include "footer.html" %}
{% endblock %}