{% extends "base.html" %}

{% block content %}
<div class="container-fluid" >
	<div class="external-course external-course-reparacion">
		<div class="internal-course">
			<div class="box">
				<div class="icon reparacion-icon"></div>
				<div class="title">Reparación de Computadoras y  <br><strong>Celulares</strong></div>
				<a href="https://apixela.net/cursos/compra/"
				class="call-to-action">Inscríbete HOY</a>
			</div>
		</div>
	</div>
	<div class="external-course-content">
		<div class="content-course">
			<div class="description">
			      ¿Cuántos celulares y computadoras se venden anualmente en nuestro país? Millones.
			      ¿Y quiénes los reparan? Con este curso aprenderás los fundamentos de reparación de celulares y computadoras de diferentes modelos, manejando conceptos técnicos, mediciones, herramientas y procedimientos para obtener una buena base de conocimiento para iniciarse en la profesión. Un curso ideal para principiantes como para quien trabaja en el área de electrónica.
			      </div>
			      <h5>MÓDULO 0: Electrónica</h5>
			        <ul>
			          <li>Electrónica general conceptos básicos y definiciones</li>
						<li>Circuitos en serie y en paralelo </li>
						<li>Electrónica Digital </li>
						<li>Protoboard</li>
						<li>Algebra Booleana</li>
						<li>Circuito integrado</li>
						<li>Software Live Wire, Proteus, PCB Wizard.</li>
						<li>Proceso y creacion de placas de circuitos integrados </li>
			        </ul>
			      <h5>MÓDULO 1: Hardware de Computadoras</h5>
			        <ul>
			            <li>Definición de Hardware</li>
						<li>CPU-Procesador</li>
						<li>Tipos de memoria del sistema </li>
						<li>Unidades de almacenamiento</li>
						<li>Dispositivos de entrada y salida</li>
						<li>Tarjeta Madre</li>
						<li>BIOS</li>
						<li>Tipos de conectores</li>
						<li>Mantenimiento preventivo y correctivo </li>
						<li>Impresoras conceptos básicos </li>
						<li>Mantenimiento de impresoras e instalacion de sistema continuo </li>
			        </ul>

			      <h5>MÓDULO 3: Software Computadoras</h5>
			        <ul>
			          <li>Conceptos básicos de software Definición de Programa Software de sistemas </li>
						<li>Etapa de Inicio, BIOS, Simbolo del Sistema </li>
						<li>Instalación de sistemas Particiones Programa virtualizador ( Linux)</li>
						<li>Instalación de sistemas Particiones Programa virtualizador ( Windows)</li>
						<li>Recuperación de consola e instalacion de sistema en un equipo portatil o de escritorio </li>
						<li>Booteo de USB e  instalacion de sistema en un equipo portatil o de escritorio </li>
						<li>Actualización de sistemas </li>
						<li>Drivers más utilizados</li>
						<li>Programas Basicos de una computadora portatil o de escritorio</li>
			        </ul>

			      <h5>MÓDULO 4: Hardware Celulares</h5>
			        <ul>
			          <li>Clasificación de equipos telefónicos, identificación de partes internas de un celular.</li>
						<li>Placa de circuitos integrados para la representación de funciones de carga de un teléfono </li>
						<li>Extraccion de entrada de carga</li>
						<li>Remover pantalla </li>
						<li>Extraer touch en diferentes smartphones </li>
						<li>Cambio de piezas varias </li>
			        </ul>

			      <h5>MÓDULO 5: Software Celulares</h5>
			        <ul>
			          <li>Introduccion a software de telefonos </li>
						<li>Rooteo de teléfonos ventajas/desventajas</li>
						<li>Actualizacion de CWM o TWRP recovery a telefonos con sistema android </li>
						<li>Instalación/modificación/ reinstalación/actualización de un sistema operativo original</li>
						<li>Instalación/modificación/ reinstalación/actualización de un sistema operativo Personalizado</li>
						<li>Introduccion a la liberación de Movile</li>
						<li>Método de liberación por código </li>
						<li>Método de liberación por calculadora</li>
						<li>Método de liberación por modo ingeniero </li>
						<li>Liberación por caja</li>
						<li>Refuerzo/Retroalimentación</li>
			        </ul>
			      <h5>Perfil de salida</h5>
			      <div class="profile_info">
			        <ul>
			          <li>Especialista en diagnósticos y soluciones de problemas de computadoras y celulares</li>
			          <li>Asesor tecnológico en compra y venta de equipo.</li>
			          <li>Emprendedor de negocios en reparación y distribución de productos de tecnología</li>
			        </ul>
			      </div>

		    {% include "whatsapp.html" %}

		</div>
	</div>
{% include "courses.html" %}
</div>
{% include "footer.html" %}
{% endblock %}
