<!-- DECORATOR -->
<a href="whatsapp://send?text=&amp;Hola, necesito información acerca de los cursos:&amp;&phone=+50230050240&abid=+50230050240" style="text-decoration:none;" class="mobile" target="_blank">
  	<div class="call-to-action">WhatsAppea</div>
	</a>
<a href="https://apixela.net/#contact-us-form"
	class="call-to-action no-mobile">Inscríbete HOY</a>

<!--
	whatsapp://send?text=Hola
	whatsapp://send?text=&amp;Hola, necesito información acerca de los cursos:&amp;&phone=+50254116516&abid=+50254116516



	https://web.whatsapp.com/send?phone=+502 3005 0240&amp;text=Hola, necesito información acerca de:" onclick="gtag('event', 'WhatsApp', {'event_action': 'whatsapp_chat', 'event_category': 'Chat', 'event_label': 'Chat_WhatsApp'});-->

'api', config_file='/opt/cr/tr.conf'